In [1]:
import pandas as pd
import numpy as np
file = "Pybank.csv"
df = pd.read_csv(file)
df.head()

     Date  Profit/Losses  change_1
0  Jan-10         867884         0
1  Feb-10         984655    116771
2  Mar-10         322013   -662642
3  Apr-10         -69417   -391430
4  May-10         310503    379920

In [2]:
df.count()

Date             86
Profit/Losses    86
change_1         86
dtype: int64

In [3]:
Total_Months =df["Date"].value_counts().sum()

In [4]:
Total = df["Profit/Losses"].sum()

In [5]:
change = 0
for row, x in enumerate(df["Profit/Losses"]):
    #print(row,x)
    if row > 0:
        change = change + (df["Profit/Losses"][row]-df["Profit/Losses"][row-1])
        
    #print(df["Profit/Losses"][85])
    #change= change +(df["Profit/Losses"][x+1]-df["Profit/Losses"][x])

In [17]:
average_change = change/ (Total_Months-1)
max_change = df["change_1"].max()
min_change = df["change_1"].min()
avg_change= round(average_change,2)
print(average_change)
print(Total_Months)
print (Total)
print(max_change)
print(min_change)

-2315.1176470588234
86
38382578
1926159
-2196167

In [18]:
print ("Total Months: ", Total_Months)
print ("Total: $", Total)
print("Average Change: $", avg_change)
print("Greatest Increases in Profits:", (max_change))
print("Greatest Decreas in Profits: ", (min_change))

Total Months:  86
Total: $ 38382578
Average Change: $ -2315.12
Greatest Increases in Profits: 1926159
Greatest Decreas in Profits:  -2196167